<div class="page">
  <div class="app-offcanvas-overlay"></div>
  <app-header />
  <div class="app-content-area">
    <div class="app-content-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body mini-card-body d-flex align-center gap-16">
                <div
                  class="avatar avatar-xl bg-primary-transparent text-primary"
                >
                  <i class="ri-user-3-fill fs-42"></i>
                </div>
                <div class="card-content">
                  <span class="d-block fs-16 mb-5">کل مشتریان</span>
                  <h2 class="mb-5 fa">8،542</h2>
                  <span class="text-success"
                    >+12.5 ٪<i class="ri-arrow-up-line ml-5 d-inline-block"></i
                  ></span>
                  <span class="fs-12 text-muted ml-5">این هفته</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body mini-card-body d-flex align-center gap-16">
                <div class="avatar avatar-xl bg-info-transparent text-info">
                  <i class="ri-group-fill fs-42"></i>
                </div>
                <div class="card-content">
                  <span class="d-block fs-16 mb-5">منجر جدید</span>
                  <h2 class="mb-5 fa">12.3 هزار</h2>
                  <span class="text-success"
                    >+۰.۸۷٪<i class="ri-arrow-up-line ml-5 d-inline-block"></i
                  ></span>
                  <span class="fs-12 text-muted ml-5">این هفته</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body mini-card-body d-flex align-center gap-16">
                <div class="avatar avatar-xl bg-danger-transparent text-danger">
                  <i class="ri-exchange-fill fs-42"></i>
                </div>
                <div class="card-content">
                  <span class="d-block fs-16 mb-5">میزان تبدیل</span>
                  <h2 class="mb-5 fa">5،230</h2>
                  <span class="text-danger"
                    >-۰.۳۴٪<i class="ri-arrow-down-line ml-5 d-inline-block"></i
                  ></span>
                  <span class="fs-12 text-muted ml-5">این هفته</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body mini-card-body d-flex align-center gap-16">
                <div
                  class="avatar avatar-xl bg-success-transparent text-success"
                >
                  <i class="ri-money-dollar-circle-fill fs-42"></i>
                </div>
                <div class="card-content">
                  <span class="d-block fs-16 mb-5">درآمد</span>
                  <h2 class="mb-5 fa">86000 هزار تومان</h2>
                  <span class="text-success"
                    >+۲.۰۵٪<i class="ri-arrow-up-line ml-5 d-inline-block"></i
                  ></span>
                  <span class="fs-12 text-muted ml-5">این هفته</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-6 col-xl-12">
            <div class="card">
              <div class="card-header justify-between">
                <h4 class="">تحلیلی سفارش</h4>
                <div class="card-dropdown">
                  <div class="dropdown">
                    <a
                      aria-expanded="false"
                      class="card-dropdown-icon"
                      data-bs-toggle="dropdown"
                      href="javascript:void(0);"
                      role="button"
                    >
                      <i class="ri-more-2-fill"></i>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"
                        >امروز</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >این هفته</a
                      >
                      <a class="dropdown-item active" href="javascript:void(0);"
                        >این ماه</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >امسال</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body pt-15">
                <div id="orderAnalyticsChart"></div>
              </div>
            </div>
          </div>
          <div class="col-xxl-6 col-xl-12">
            <div class="card">
              <div class="card-header justify-between">
                <h4 class="">درآمد و سود</h4>
                <div class="card-dropdown">
                  <div class="dropdown">
                    <a
                      aria-expanded="false"
                      class="card-dropdown-icon"
                      data-bs-toggle="dropdown"
                      href="javascript:void(0);"
                      role="button"
                    >
                      <i class="ri-more-2-fill"></i>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"
                        >امروز</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >این هفته</a
                      >
                      <a class="dropdown-item active" href="javascript:void(0);"
                        >این ماه</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >امسال</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body pt-15">
                <div id="revenueProfitChart"></div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
            <div class="card">
              <div class="card-header justify-between">
                <h4 class="">خط لوله فروش</h4>
                <div class="card-dropdown">
                  <div class="dropdown">
                    <a
                      aria-expanded="false"
                      class="card-dropdown-icon"
                      data-bs-toggle="dropdown"
                      href="javascript:void(0);"
                      role="button"
                    >
                      <i class="ri-more-2-fill"></i>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"
                        >امروز</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >این هفته</a
                      >
                      <a class="dropdown-item active" href="javascript:void(0);"
                        >این ماه</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >امسال</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body pt-15">
                <div id="contacts-source"></div>
                <div class="pipeline-stats mt-20">
                  <div class="d-flex justify-between align-center mb-8">
                    <div class="d-flex align-center gap-10">
                      <span class="bullet bg-primary"></span>
                      <span class="fs-14">چشم انداز</span>
                    </div>
                    <span class="fw-500"
                      >124<span class="text-muted">(25 ٪)</span></span
                    >
                  </div>
                  <div class="d-flex justify-between align-center mb-8">
                    <div class="d-flex align-center gap-10">
                      <span class="bullet bg-info"></span>
                      <span class="fs-14">واجد شرایط</span>
                    </div>
                    <span class="fw-500"
                      >98<span class="text-muted">(20 ٪)</span></span
                    >
                  </div>
                  <div class="d-flex justify-between align-center mb-8">
                    <div class="d-flex align-center gap-10">
                      <span class="bullet bg-warning"></span>
                      <span class="fs-14">مذاکره</span>
                    </div>
                    <span class="fw-500"
                      >76<span class="text-muted">(15 ٪)</span></span
                    >
                  </div>
                  <div class="d-flex justify-between align-center">
                    <div class="d-flex align-center gap-10">
                      <span class="bullet bg-success"></span>
                      <span class="fs-14">وانت</span>
                    </div>
                    <span class="fw-500"
                      >202<span class="text-muted">(40 ٪)</span></span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
            <div class="card">
              <div class="card-header justify-between">
                <h4 class="">فعالیت اخیر</h4>
                <a class="btn btn-primary btn-sm" href="javascript:void(0);"
                  >مشاهده همه</a
                >
              </div>
              <div class="card-body pt-15">
                <ul class="activity-list">
                  <li class="d-flex align-start gap-15 mb-15">
                    <div class="avatar bg-success-transparent text-success">
                      <i class="ri-check-line fs-16"></i>
                    </div>
                    <div>
                      <h6 class="mb-5">معامله جدید بسته شد</h6>
                      <p class="text-muted fs-12 mb-5">
                        Acme Corp - 12،500 تومان
                      </p>
                      <span class="fs-11 text-muted">2 ساعت پیش</span>
                    </div>
                  </li>
                  <li class="d-flex align-start gap-15 mb-15">
                    <div class="avatar bg-primary-transparent text-primary">
                      <i class="ri-user-add-line fs-16"></i>
                    </div>
                    <div>
                      <h6 class="mb-5">مشتری جدید اضافه شد</h6>
                      <p class="text-muted fs-12 mb-5">
                        جان اسمیت از Techsolutions
                      </p>
                      <span class="fs-11 text-muted">5 ساعت پیش</span>
                    </div>
                  </li>
                  <li class="d-flex align-start gap-15 mb-15">
                    <div class="avatar bg-info-transparent text-info">
                      <i class="ri-chat-new-line fs-16"></i>
                    </div>
                    <div>
                      <h6 class="mb-5">مکالمه سرب جدید</h6>
                      <p class="text-muted fs-12 mb-5">
                        گپ زنده با سارا جانسون
                      </p>
                      <span class="fs-11 text-muted">امروز</span>
                    </div>
                  </li>
                  <li class="d-flex align-start gap-15 mb-15">
                    <div class="avatar bg-purple-transparent text-purple">
                      <i class="ri-task-line fs-16"></i>
                    </div>
                    <div>
                      <h6 class="mb-5">کار کامل شد</h6>
                      <p class="text-muted fs-12 mb-5">
                        با مشتری بالقوه پیگیری کنید
                      </p>
                      <span class="fs-11 text-muted">دیروز</span>
                    </div>
                  </li>
                  <li class="d-flex align-start gap-15 mb-15">
                    <div class="avatar bg-warning-transparent text-warning">
                      <i class="ri-calendar-line fs-16"></i>
                    </div>
                    <div>
                      <h6 class="mb-5">جلسه برنامه ریزی شده</h6>
                      <p class="text-muted fs-12 mb-5">
                        نسخه ی نمایشی محصول با XYZ Corp
                      </p>
                      <span class="fs-11 text-muted">دیروز</span>
                    </div>
                  </li>
                  <li class="d-flex align-start gap-15">
                    <div class="avatar bg-danger-transparent text-danger">
                      <i class="ri-close-line fs-16"></i>
                    </div>
                    <div>
                      <h6 class="mb-5">معامله از دست رفته</h6>
                      <p class="text-muted fs-12 mb-5">
                        شرکت های جهانی - 8000 تومان
                      </p>
                      <span class="fs-11 text-muted">دو روز پیش</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
            <div class="card">
              <div class="card-header justify-between">
                <h4 class="mb-0">نقشه گرمازدگی جهانی</h4>
                <div class="card-dropdown">
                  <div class="dropdown">
                    <a
                      aria-expanded="false"
                      class="card-dropdown-icon"
                      data-bs-toggle="dropdown"
                      href="javascript:void(0);"
                      role="button"
                    >
                      <i class="ri-more-2-fill"></i>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"
                        >امروز</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >7 روز گذشته</a
                      >
                      <a class="dropdown-item active" href="javascript:void(0);"
                        >این ماه</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >امسال</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body pt-15">
                <div id="salesWorldMap"></div>
                <div class="table-responsive pt-15">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>کشور</th>
                        <th class="text-end">درآمد</th>
                        <th class="text-end">رشد</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex align-center gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/flags/palestine-flag.png"
                              />
                            </div>
                            <span>فلسطین</span>
                          </div>
                        </td>
                        <td class="text-end fw-5">42.8هزار تومان</td>
                        <td class="text-end">
                          <span class="text-success"
                            >+12.5 ٪<i class="ri-arrow-up-line"></i
                          ></span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-center gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/flags/us-flag.jpg"
                              />
                            </div>
                            <span>ایالات متحده</span>
                          </div>
                        </td>
                        <td class="text-end fw-5">28.4هزار تومان</td>
                        <td class="text-end">
                          <span class="text-success"
                            >+8.5 ٪<i class="ri-arrow-up-line"></i
                          ></span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-center gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/flags/brazil-flag.png"
                              />
                            </div>
                            <span>برزیل</span>
                          </div>
                        </td>
                        <td class="text-end fw-5">19.7هزار تومان</td>
                        <td class="text-end">
                          <span class="text-danger"
                            >-2.1 ٪<i class="ri-arrow-down-line"></i
                          ></span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-center gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/flags/ireland-flag.png"
                              />
                            </div>
                            <span>ایرلند</span>
                          </div>
                        </td>
                        <td class="text-end fw-500">15.2هزار تومان</td>
                        <td class="text-end">
                          <span class="text-success"
                            >+5.7 ٪<i class="ri-arrow-up-line"></i
                          ></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="d-flex justify-between mt-10">
                  <div class="text-center">
                    <span class="d-block mb-5 fs-12 text-muted">کشورها</span>
                    <h3 class="fa">30</h3>
                  </div>
                  <div class="text-center">
                    <span class="d-block mb-5 fs-12 text-muted">مجموع</span>
                    <h3 class="fa">126.3هزار تومان</h3>
                  </div>
                  <div class="text-center">
                    <span class="d-block mb-5 fs-12 text-muted">AVG/کشور</span>
                    <h3 class="fa">5.26هزار تومان</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
            <div class="card">
              <div class="card-header justify-between">
                <h4 class="mb-0">هدایت شده توسط منبع</h4>
                <div class="card-dropdown">
                  <div class="dropdown">
                    <a
                      aria-expanded="false"
                      class="card-dropdown-icon"
                      data-bs-toggle="dropdown"
                      href="javascript:void(0);"
                      role="button"
                    >
                      <i class="ri-more-2-fill"></i>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"
                        >امروز</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >7 روز گذشته</a
                      >
                      <a class="dropdown-item active" href="javascript:void(0);"
                        >این چهارم</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >امسال</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body pt-15">
                <div id="leadsPieChart"></div>
                <div class="table-responsive">
                  <table class="table tfoot-b-none mb-0">
                    <thead>
                      <tr>
                        <th>منبع</th>
                        <th class="text-end">رهبری</th>
                        <th class="text-end">تغییر</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex align-center gap-10">
                            <span class="bullet bg-primary"></span>
                            <span>جستجوی ارگانیک</span>
                          </div>
                        </td>
                        <td class="text-end fw-500">1،245</td>
                        <td class="text-end text-success">
                          +18.2 ٪<i class="ri-arrow-up-line"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-center gap-10">
                            <span class="bullet bg-info"></span>
                            <span>رسانه های اجتماعی</span>
                          </div>
                        </td>
                        <td class="text-end fw-500">876</td>
                        <td class="text-end text-success">
                          +12.7 ٪<i class="ri-arrow-up-line"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-center gap-10">
                            <span class="bullet bg-warning"></span>
                            <span>کمپین های ایمیل</span>
                          </div>
                        </td>
                        <td class="text-end fw-500">645</td>
                        <td class="text-end text-danger">
                          -3.2 ٪<i class="ri-arrow-down-line"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-center gap-10">
                            <span class="bullet bg-success"></span>
                            <span>ارجاع</span>
                          </div>
                        </td>
                        <td class="text-end fw-500">432</td>
                        <td class="text-end text-success">
                          +8.5 ٪<i class="ri-arrow-up-line"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="d-flex align-center gap-10">
                            <span class="bullet bg-danger"></span>
                            <span>ترافیک مستقیم</span>
                          </div>
                        </td>
                        <td class="text-end fw-500">390</td>
                        <td class="text-end text-success">
                          +5.1 ٪<i class="ri-arrow-up-line"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header justify-between">
                <h4 class="">نمای کلی وضعیت معامله</h4>
                <div class="card-dropdown">
                  <div class="dropdown">
                    <a
                      aria-expanded="false"
                      class="card-dropdown-icon"
                      data-bs-toggle="dropdown"
                      href="javascript:void(0);"
                      role="button"
                    >
                      <i class="ri-more-2-fill"></i>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"
                        >این هفته</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >هفته گذشته</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >این ماه</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body pt-15">
                <div class="table-responsive table--card">
                  <table class="table table-bordered text-nowrap">
                    <thead>
                      <tr>
                        <th>شناسه معامله</th>
                        <th>مشتری</th>
                        <th>تاریخ شروع</th>
                        <th>ارزش</th>
                        <th>وضعیت</th>
                        <th>نماینده فروش</th>
                        <th>تاریخ اختتامیه</th>
                        <th>عمل</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>#DL-1001</td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/company/company-thumb-001.png"
                              />
                            </div>
                            <h6>
                              <a href="company-details.html">شرکت Acme</a>
                            </h6>
                          </div>
                        </td>
                        <td>1400-05-15</td>
                        <td>125،000 تومان</td>
                        <td>
                          <span class="badge bg-label-success">بسته وون</span>
                        </td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/avatar/avatar-thumb-001.webp"
                              />
                            </div>
                            <h6>سارا جانسون</h6>
                          </div>
                        </td>
                        <td>1400-06-20</td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <a
                              class="btn-icon btn-success-light"
                              data-bs-placement="top"
                              data-bs-title="مشاهده"
                              data-bs-toggle="tooltip"
                              href="company-details.html"
                            >
                              <i class="ri-eye-line"></i>
                            </a>
                            <a
                              class="btn-icon btn-info-light"
                              data-bs-placement="top"
                              data-bs-title="ویرایش"
                              data-bs-toggle="tooltip"
                              href="company-details.html"
                            >
                              <i class="ri-edit-line"></i>
                            </a>
                            <a
                              class="btn-icon btn-danger-light"
                              data-bs-placement="top"
                              data-bs-title="حذف"
                              data-bs-toggle="tooltip"
                              href="javascript:void(0);"
                            >
                              <i class="ri-delete-bin-line"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>#DL-1002</td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/company/company-thumb-002.png"
                              />
                            </div>
                            <h6>
                              <a href="company-details.html">شرکت Globex</a>
                            </h6>
                          </div>
                        </td>
                        <td>1400-06-01</td>
                        <td>85،500 تومان</td>
                        <td>
                          <span class="badge bg-label-warning">مذاکره</span>
                        </td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/avatar/avatar-thumb-002.webp"
                              />
                            </div>
                            <h6>مایکل چن</h6>
                          </div>
                        </td>
                        <td>1400-07-15</td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <a
                              class="btn-icon btn-success-light"
                              data-bs-placement="top"
                              data-bs-title="مشاهده"
                              data-bs-toggle="tooltip"
                              href="company-details.html"
                            >
                              <i class="ri-eye-line"></i>
                            </a>
                            <a
                              class="btn-icon btn-info-light"
                              data-bs-placement="top"
                              data-bs-title="ویرایش"
                              data-bs-toggle="tooltip"
                              href="company-details.html"
                            >
                              <i class="ri-edit-line"></i>
                            </a>
                            <a
                              class="btn-icon btn-danger-light"
                              data-bs-placement="top"
                              data-bs-title="حذف"
                              data-bs-toggle="tooltip"
                              href="javascript:void(0);"
                            >
                              <i class="ri-delete-bin-line"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>#DL-1003</td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/company/company-thumb-003.png"
                              />
                            </div>
                            <h6>
                              <a href="company-details.html"
                                >سیستم های TechTron</a
                              >
                            </h6>
                          </div>
                        </td>
                        <td>1400-06-10</td>
                        <td>210،000 تومان</td>
                        <td>
                          <span class="badge bg-label-info"
                            >پیشنهاد ارسال شده</span
                          >
                        </td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/avatar/avatar-thumb-003.webp"
                              />
                            </div>
                            <h6>امیلی رودریگز</h6>
                          </div>
                        </td>
                        <td>1400-07-30</td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <a
                              class="btn-icon btn-success-light"
                              data-bs-placement="top"
                              data-bs-title="مشاهده"
                              data-bs-toggle="tooltip"
                              href="company-details.html"
                            >
                              <i class="ri-eye-line"></i>
                            </a>
                            <a
                              class="btn-icon btn-info-light"
                              data-bs-placement="top"
                              data-bs-title="ویرایش"
                              data-bs-toggle="tooltip"
                              href="company-details.html"
                            >
                              <i class="ri-edit-line"></i>
                            </a>
                            <a
                              class="btn-icon btn-danger-light"
                              data-bs-placement="top"
                              data-bs-title="حذف"
                              data-bs-toggle="tooltip"
                              href="javascript:void(0);"
                            >
                              <i class="ri-delete-bin-line"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>#DL-1004</td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/company/company-thumb-004.png"
                              />
                            </div>
                            <h6>
                              <a href="company-details.html"
                                >راه حل های Innova</a
                              >
                            </h6>
                          </div>
                        </td>
                        <td>1400-05-28</td>
                        <td>45000 تومان</td>
                        <td>
                          <span class="badge bg-label-danger">گمشده</span>
                        </td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/avatar/avatar-thumb-004.webp"
                              />
                            </div>
                            <h6>دیوید ویلسون</h6>
                          </div>
                        </td>
                        <td>1400-06-25</td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <a
                              class="btn-icon btn-success-light"
                              data-bs-placement="top"
                              data-bs-title="مشاهده"
                              data-bs-toggle="tooltip"
                              href="company-details.html"
                            >
                              <i class="ri-eye-line"></i>
                            </a>
                            <a
                              class="btn-icon btn-info-light"
                              data-bs-placement="top"
                              data-bs-title="ویرایش"
                              data-bs-toggle="tooltip"
                              href="company-details.html"
                            >
                              <i class="ri-edit-line"></i>
                            </a>
                            <a
                              class="btn-icon btn-danger-light"
                              data-bs-placement="top"
                              data-bs-title="حذف"
                              data-bs-toggle="tooltip"
                              href="javascript:void(0);"
                            >
                              <i class="ri-delete-bin-line"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>#DL-1005</td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/company/company-thumb-005.png"
                              />
                            </div>
                            <h6>
                              <a href="company-details.html">صنایع راس</a>
                            </h6>
                          </div>
                        </td>
                        <td>1400-06-15</td>
                        <td>175،000 تومان</td>
                        <td>
                          <span class="badge bg-label-primary">واجد شرایط</span>
                        </td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/avatar/avatar-thumb-005.webp"
                              />
                            </div>
                            <h6>جسیکا لی</h6>
                          </div>
                        </td>
                        <td>1400-08-10</td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <a
                              class="btn-icon btn-success-light"
                              data-bs-placement="top"
                              data-bs-title="مشاهده"
                              data-bs-toggle="tooltip"
                              href="company-details.html"
                            >
                              <i class="ri-eye-line"></i>
                            </a>
                            <a
                              class="btn-icon btn-info-light"
                              data-bs-placement="top"
                              data-bs-title="ویرایش"
                              data-bs-toggle="tooltip"
                              href="company-details.html"
                            >
                              <i class="ri-edit-line"></i>
                            </a>
                            <a
                              class="btn-icon btn-danger-light"
                              data-bs-placement="top"
                              data-bs-title="حذف"
                              data-bs-toggle="tooltip"
                              href="javascript:void(0);"
                            >
                              <i class="ri-delete-bin-line"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>#DL-1005</td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/company/company-thumb-006.png"
                              />
                            </div>
                            <h6>
                              <a href="company-details.html">صنایع راس</a>
                            </h6>
                          </div>
                        </td>
                        <td>1400-06-15</td>
                        <td>175،000 تومان</td>
                        <td>
                          <span class="badge bg-label-primary">واجد شرایط</span>
                        </td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <div class="avatar avatar-xs radius-100">
                              <img
                                alt="image not found"
                                class="radius-100"
                                src="assets/images/avatar/avatar-thumb-006.webp"
                              />
                            </div>
                            <h6>جسیکا لی</h6>
                          </div>
                        </td>
                        <td>1400-08-10</td>
                        <td>
                          <div class="d-flex-items gap-10">
                            <a
                              class="btn-icon btn-success-light"
                              data-bs-placement="top"
                              data-bs-title="مشاهده"
                              data-bs-toggle="tooltip"
                              href="company-details.html"
                            >
                              <i class="ri-eye-line"></i>
                            </a>
                            <a
                              class="btn-icon btn-info-light"
                              data-bs-placement="top"
                              data-bs-title="ویرایش"
                              data-bs-toggle="tooltip"
                              href="company-details.html"
                            >
                              <i class="ri-edit-line"></i>
                            </a>
                            <a
                              class="btn-icon btn-danger-light"
                              data-bs-placement="top"
                              data-bs-title="حذف"
                              data-bs-toggle="tooltip"
                              href="javascript:void(0);"
                            >
                              <i class="ri-delete-bin-line"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer mt-15">
                <div class="d-flex-between flex-wrap gap-16">
                  <div class="tables-info">نشان دادن 1 تا 10 از 57 مدخل</div>
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0);">قبلی</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0);">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0);">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0);">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0);">بعدی</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- app-content-area-end -->
  <!-- footer area start -->
  <footer class="app-footer-area">
    <div class="row">
      <div class="col-xl-12">
        <div class="card-footer d-flex justify-center">
          <p>
            کپی رایت ©<span id="year"></span>
            <span class="text-heading"> داشیکس </span>طراحی شده توسط<a
              href="#"
              target="_blank"
            >
              فرهام اقدسی </a
            >کلیه حقوق محفوظ است
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Search Modal Start -->
  <div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="input-group">
            <input class="form-control" placeholder="جستجو ..." type="search" />
            <button class="btn btn-primary" id="button-addon1" type="button">
              <i class="ri-search-line"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Search Modal End -->
  <!-- footer area end -->
</div>
<!-- Dashboard page wrapper end -->
<!-- back to top area start -->
<div class="progress-wrap">
  <svg
    class="progress-circle svg-content"
    height="100%"
    viewbox="-1 -1 102 102"
    width="100%"
  >
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
  </svg>
</div>
<!-- back to top area end -->
<!-- switcher area start -->
<div class="theme-switcher-settings d-none">
  <div class="theme-switcher">
    <i class="ri-sun-line change-theme" id="theme-button"></i>
  </div>
</div>
<div class="bd-theme-settings-area transition-3">
  <div class="bd-theme-wrapper">
    <div class="bd-theme-header text-center">
      <h4 class="bd-theme-header-title">تنظیمات قالب</h4>
    </div>
    <div class="theme-switcher-radio d-flex align-items-center gap-25 mb-25">
      <div class="form-check switch-select">
        <input
          checked=""
          class="form-check-input"
          id="switcher-light-theme"
          name="theme-style"
          type="radio"
        />
        <label class="form-check-label" for="switcher-light-theme">روشن</label>
      </div>
      <div class="form-check switch-select">
        <input
          class="form-check-input"
          id="switcher-dark-theme"
          name="theme-style"
          type="radio"
        />
        <label class="form-check-label" for="switcher-dark-theme">تیره</label>
      </div>
    </div>

    <div class="bd-theme-settings">
      <div class="bd-theme-settings-wrapper">
        <div class="bd-theme-settings-open">
          <button class="bd-theme-settings-open-btn">
            <span class="bd-theme-settings-gear">
              <i class="ri-settings-3-line"></i>
            </span>
            <span class="bd-theme-settings-close">
              <i class="ri-close-line"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
