<div class="dropdown">
  <a
    aria-expanded="false"
    class="dropdown-toggle"
    data-bs-toggle="dropdown"
    href="javascript:void(0);"
    role="button"
  >
    <div class="author">
      <div class="author-thumb">
        <img alt="user" src="assets/images/avatar/avatar-thumb-001.webp" />
      </div>
      <h6 class="author-name lh-1">جمشید ایرانی</h6>
    </div>
  </a>
  <ul class="dropdown-menu">
    <li class="bd-user-info-list">
      <a href="app-user-account.html"><i class="ri-user-line"></i>مشخصات</a>
    </li>
    <li class="bd-user-info-list">
      <a href="app-user-billing.html"
        ><i class="ri-bank-card-line"></i>برنامه ها و صورتحساب</a
      >
    </li>
    <li class="bd-user-info-list">
      <a href="app-user-security.html"
        ><i class="ri-settings-2-line"></i>تنظیمات مشخصات</a
      >
    </li>
    <li class="bd-user-info-list">
      <a href="auth-signin-basic.html"
        ><i class="ri-logout-circle-line"></i>ورود به سیستم</a
      >
    </li>
  </ul>
</div>
